body {
    font-family: sans-serif
}

.header {
    background-color: #333;
}

.header .navbar a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.header .navbar a::after {
    content: "|";
}

.contenedor {
    display: flex;
    justify-content: space-between;
}